/* regular */
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./NotoSerif-Regular.woff2) format("woff2");
}

/* bold */
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./NotoSerif-Bold.woff2) format("woff2");
}

/* italic */
@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./NotoSerif-Italic.woff2) format("woff2");
}

/* bold & italic */
@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./NotoSerif-BoldItalic.woff2) format("woff2");
}
