---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
	const allPosts = await getCollection('blog');
	const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat().filter(Boolean))];

	return uniqueTags.map((tag) => {
		const filteredPosts = allPosts.filter((post) => post.data.tags?.includes(tag));
		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={`Tag: ${tag}`}>
	<main>
		<h1>Tag: <span>#{tag}</span></h1>
		<ul>
			{posts.map((post) => (
				<li>
					<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
				</li>
			))}
		</ul>
	</main>
</Layout>

<style>
	main {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 1em;
	}
    h1 {
        color: rgb(var(--black));
    }
    span {
        color: rgb(var(--accent));
    }
    ul {
        list-style: none;
        padding: 0;
    }
    li a {
        display: block;
        padding: 0.5em 0;
        font-size: 1.2em;
        color: rgb(var(--gray-dark));
        text-decoration: none;
    }
    li a:hover {
        color: rgb(var(--accent));
    }
</style>
