---
import Layout from '../layouts/Layout.astro';
---

<Layout title="关于我" description="关于本博客作者">
	<main>
		<h1>关于我</h1>
		<p>这里是关于页面的内容。你可以写自我介绍、博客的宗旨等。</p>
		
		<h2>我是谁？</h2>
		<p>甚至可以放一张你的照片。</p>

		<h2>为什么写这个博客？</h2>
		<p>你的初衷。</p>
	</main>
</Layout>

<style>
	main {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 1em;
	}
	h1 {
		font-size: 2.5em;
		color: rgb(var(--black));
	}
</style>
