---
import { Image } from 'astro:assets';
import avatar from '../assets/avatar.png';
---
<div class="author-bio">
    <div class="avatar">
        <Image src={avatar} alt="BF" />
    </div>
    <div class="bio-content">
        <h3>关于作者</h3>
        <p>这里是BF! </p>
        <a href="/about">了解更多 &rarr;</a>
    </div>
</div>
<style>
    .author-bio {
        margin-top: 3em;
        padding: 1.5em;
        border: 1px solid rgb(var(--gray-light));
        background: rgb(var(--gray-light), 0.1);
        display: flex;
        gap: 1em;
        align-items: center;
        border-radius: 8px;
    }
    .avatar img {
        width: 80px;
        height: 80px;
        border-radius: 50%; /* Optional: Keep round for people */
    }
    .bio-content h3 {
        margin: 0 0 0.5em 0;
        color: var(--heading-color);
    }
    .bio-content p {
        margin: 0 0 0.5em 0;
        font-size: 0.9em;
        color: var(--text-color);
        opacity: 0.9;
    }
</style>